body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
  
.button {
  background-color: rgba(0, 0, 0, 0.388);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

button {
  width: 200px;
  height: 50px;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}